<template>
  <div id="dash">
    <v-container>
      <RegexpFlags v-model="flag" />
    </v-container>
    <v-text-field
      label="Regular Expression"
      placeholder="Insert your regular expression here"
      v-model="regex"
      outline
    ></v-text-field>
    <v-textarea outline name="Test String" label="Test String" value v-model="testData"></v-textarea>
    <div class="match">
      <h3>{{regexoutput.length}} Match found !</h3> <br>
      <h3>Matched Content : <div v-html="highlightData()"></div> </h3> 
    </div>
    <v-btn outline color="cyan" v-on:click="resetForm">Reset</v-btn>
  </div>
</template>

<script>
function toFlag(label, value) {
  return {
    label: label,
    value: value
  };
}

import RegexpFlags from './RegexpFlags.vue';

export default {
  components: {
    RegexpFlags
  },
  data() {
    return {
      regex: "",
      testData: "",
      flag: [],
      highlightedText:""
    };
  },
  computed: {
    regexoutput() {
      this.highlightedText=this.testData;
      if (this.regex.trim() === "") {
       return [];
      }
      var flags = this.flag.join("");
      var matches = this.testData.match(new RegExp(this.regex, flags));
      return matches === null ? [] : matches;
     
    },
  },
  methods: {
    resetForm: function() {
      this.regex = "";
      this.testData = "";
      this.highlightedText ="";
    },
    highlightData() {
      this.highlightedText=this.testData;
      if (this.regex.trim() === "") {
        return this.highlightedText;
      }
      var flags = this.flag.join("");
     return this.highlightedText.replace(new RegExp(this.regex, flags), match => {
                    return '<span class="highlightContent">' + match + '</span>'});
    }
    
  }
  
};
</script>

<style>
.message {
  text-align: center;
}
.match {
  margin: 10px;
}
.highlightContent{
  background: green;
}
</style>
