<template>
      <v-flex xs12>
        <v-select
          v-model="flag"
          :items="flagNames"
          prepend-icon="flag"
          label="Regex Flags"
          item-text="label"
          item-value="value"
          multiple
          chips
          v-on:input="$emit('input', flag)"          
        ></v-select>
      </v-flex>
</template>

<script>
function toFlag(label, value) {
  return {
    label: label,
    value: value
  };
}

export default {
  props: ['value'],
  data() {
    return {
      flag: this.value,
      flagNames: this.$store.state.flagNames
    };
  },
};
</script>

<style>
</style>
